body {
  font-family: "Roboto, sans-serif";
  line-height: 1.5;
}

h2 {
  font-family: "Roboto, sans-serif";
  font-size: 2.3rem;
  line-height: 1.5;
  font-weight: 900;
}

.table td,
.table th {
  padding: 2px 10px;
  font-size: 1.0rem;
  font-weight: 200;
}

.table {
  width: 100%;
  text-align: right;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 2%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.skulls {
  position: relative;
  width: 600px;
  height: 200px;
  margin: auto;
  border: 24px solid;
  border-image: url("../images/skull-border.svg");
  border-image-slice: 32;
  border-image-repeat: round;
}

.chu-chay {
  font-family: "Poppins", sans-serif;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

span {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  transition: 1.2s;
  background: linear-gradient(90deg, #ff4c68 0%, #ff4c68 99%, #ff4c68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
